﻿@{
    ViewBag.Title = "Home Page";
}

 <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <h2>Search the Youtube Videos </h2>
        <div>
        
            <input id="txtSearch" type="text" style="width:100%" placeholder="Enter Search Criteria"  />
            <input id="btnSubmit" onclick="JavascriptFunction()" value="Search" type="button" />
        </div>

    </div>
    
</div>


 


 