﻿@model IEnumerable<youtubesearchapi.Models.YouTubeSearchModelList>

@{
    ViewBag.Title = "Search Results";
}

<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    <div class="col-md-12">
       <br/><br/>
        <div>

            <input id="txtSearch" type="text" style="width:100%" placeholder="Enter Search Criteria" />
            <input id="btnSubmit" onclick="JavascriptFunction()" value="Search" type="button" />
        </div>

    </div>

</div>


<div>
    <h3>YouTube Search Results</h3>

    <table class="table" style="border:solid">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoURL)
                </td>
                <td>
                    @Html.ActionLink("Play", "Plkay", new {   id=item.VideoURL }) 

                </td>
            </tr>
        }

    </table>


</div>


<script type="text/javascript">

    function JavascriptFunction() {
        var searchstr = txtSearch.value;
        window.location.href = "@Url.Action("GetYouTubeSearchResults", "Home", new { searchString = UrlParameter.Optional })"  + searchstr
    }
</script>


<hr />
<iframe id="video" width="420" height="315" frameborder="0" style="display:none" allowfullscreen></iframe>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $("body").on("click", "#btnPlay", function () {
            var url = $("#txtUrl").val();
            url = url.split('v=')[1];
            $("#video")[0].src = "//www.youtube.com/embed/" + url;
            $("#video").show();
        });
</script>